body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header,
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

header p {
    color: white;
    font-size: 0.9rem;
}

header a,
header span {
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
    background: #444;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

footer {
    margin-top: 2rem;
    font-size: 0.8rem;
}

.profile-picture {
    text-align: center;
    margin-bottom: 1.5rem;
}

.profile-picture img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid #333;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    vertical-align: middle;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.project {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    background: #f9f9f9;
}

.project img {
    max-width: 100%;
    border-radius: 8px;
}

.project a {
    display: block;
    margin-top: 0.5rem;
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

#resume p {
    text-align: center;
}

#resume a {
    display: inline-block;
    background-color: #4CAF50; /* Highlight color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#resume a:hover {
    background-color: #45a049; /* Slightly darker shade on hover */
}

.connect-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.connect-icons a {
    text-decoration: none;
    transition: transform 0.3s;
}

.connect-icons a:hover {
    transform: scale(1.2);
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}